[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
ipython = "*"
mypy = "*"
pylint = "*"
pytest = "*"
cryptography = "*"

[requires]
python_version = "3.7"
